@charset "utf-8";
/* CSS Document */
#join_title{
	line-height:100px;
}
.title_zh{
	font-family:"微软雅黑", "Microsoft JhengHei", "黑体";
	font-size:32px;
	color:#04b8af;
}
.title_en{	
	font-size:18px;
	color:#c8c8c8;
	text-transform:uppercase;
	padding-left:15px;
}
#position{
	padding:50px 0px;
}
#position ul{
	float:left;
	width:160px;	
	background:url(images/line_list.png) no-repeat right center;
}
#position ul li{
	line-height:2.5em;
	padding-left:30px;
	font-family:"微软雅黑", "Microsoft JhengHei", "黑体";
}
.on{
	background:url(images/rectangle.png) no-repeat 8px center;
}
#describe{
	width:780px;
	float:left;
	padding-left:50px;
}
#describe p{
	color:#04b8af;
	line-height:20px;
	margin:0px;
}
#describe ol li{
	list-style:decimal;
	line-height:30px;
}